body {
  background-image: url("../Imgs/TileW.jpg");
  font-family: 'Brush Script MT';
  text-shadow: 3px 3px 7px grey;
  font-size: small;
}
header {
  margin-top: 60px;
}
main {
  max-width: 720px;
  margin: auto;
}
span {
  color: rgb(212, 0, 0);
  text-shadow: .2px .2px black;
}
.noColor span{
  color: rgb(198, 0, 195);
  text-shadow: none;
}
pre {
  margin-left: -80px;
}
summary {
  color: rgb(0, 77, 155);
  font-size: 17px;
}
summary.hcj {
  color: lightslategray;
  font-size: 30px;
}
iframe {
  width: 100%;
  height: 50px;
  border-style: none;
}
b{
  /* color: rgb(61, 0, 0); */
  text-shadow: .5px .5px 12px black;
}

/* div con nombre */
fieldset {
  border-radius: 12px;
  padding: 0 10px 10px 10px;
  margin-bottom: 15px;
  background-color: rgba(128, 128, 128, 0.227);
}
/* nombre del div */
legend {
  line-height: 0px;
}

button{
  margin: 4px 0px 10px 0px;
  padding: 2px;
  min-width: 100px;
}

h3{
  text-decoration: underline;
}
font.blue{
  color: rgb(0, 62, 219);
}
font.purp{
  color: rgb(142, 0, 142);
}
font.green{
  color: green;
}
font.orange{
  color: rgb(180, 133, 44);
  text-shadow: .3px .3px rgb(255, 0, 0);
}
font.selector{
  color: rgb(146, 146, 0);
  text-shadow: .1px .1px rgb(94, 94, 0);
}
font.prop{
  color: rgb(114, 125, 122);
  text-shadow: .1px .1px rgb(124, 156, 150);
}
font.comentario{ /* JS */
  color: gray;
}
font.gray{ /* CS */
  color: gray;
}
font.string{
  color: rgb(101, 101, 101);
}
font.aqua{
  color: rgba(0, 115, 141, 0.704);
  text-shadow: .1px .1px rgb(124, 156, 150);
}
font.yellow{
  color: rgb(255, 230, 0);
  text-shadow: .5px 1px rgba(166, 69, 0, 0.461);
}
.icons {
  height: 85px;
  filter: drop-shadow(3px 3px 5px black);
}
.filtrogris {
  height: 75px;
  filter: blur(2px) grayscale(75%);
}
.borders {
  border-radius: 12px;
  padding: 2px 5px 5px 5px;
  margin-top: 5px;
  margin-bottom: 25px; 
  border: 1px solid grey;
  background-color: rgba(128, 128, 128, 0.227);
}
/* .borders h1{
  
} */

.titulo {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-shadow: 5px 2px 4px grey;
  line-height: 0px;
  font-variant: small-caps;
  word-spacing: 6px;
}
.subtitulo {
  text-decoration: underline;
  line-height: 6px;
}
.subText{
  font-size: smaller; 
  text-transform: none;
}
.ejoverflow {
  height: 110px;
  overflow: auto;
}

.ejemplo {
  max-width: 400px;
  padding: 8px;
  border: 1px black solid;
  background-color: white;
  box-shadow: inset 4px 4px 4px rgba(128, 128, 128, 0.558), inset -4px -4px 4px rgba(128, 128, 128, 0.706);
}
.codigo {
  max-width: 500px;
  padding: 8px;
  margin: 0px 0px 15px 0px;
  overflow: auto;
  border: 1px black solid;
  background-color: rgba(128, 128, 128, 0.512);
  box-shadow: inset 4px 4px 4px rgba(128, 128, 128, 0.558), inset -4px -4px 4px rgba(128, 128, 128, 0.706);
}

/* Tipos de Textos */
.ej {
  border-radius: 7px;
  width: 100%;
  padding: 5px;
  text-align: center;
  margin: 1px;
  margin-right: 4px;
  border: 1px black solid;
  background-color: white;
  box-shadow: inset 3px 3px 3px rgba(128, 128, 128, 0.558), inset -3px -3px 3px rgba(128, 128, 128, 0.706);
}
.cod {
  border-radius: 7px;
  width: 97%;
  padding: 5px 5px 4px 7px;
  margin: 1px;
  margin-left: 4px;
  border: 1px black solid;
  background-color: rgba(128, 128, 128, 0.512);
  box-shadow: inset 3px 3px 3px rgba(128, 128, 128, 0.558), inset -3px -3px 3px rgba(128, 128, 128, 0.706);
}

.iconosFlex{
  padding-inline: 50%;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.flex .flex{
  width: 50%;
}
.flex .codigo{
  min-width: 250px;
}
.flex .ejemplo{
  min-width: 200px;
}

.numbers {
  text-decoration: underline;
}

.wAuto {
  width: auto;
  padding: 7px;
}

.hr{
  width: 30px;
}

/* CSS Transform */
.box3d {
  width: 50px; height: 50px;
  background-color: #32CD32;
  /* border: 1px solid rgb(0, 0, 0); */
}

/* Tipos de entrada */
.div {
  min-height: 35px;
}

/* Box */
.round {
  width: 60%;
  padding: 10px;
  border: 1px solid grey;
  background-color: rgba(128, 128, 128, 0.227);
  border-radius: 20px;
  box-shadow: 10px 10px 5px 5px rgba(220, 220, 220, 0.522);
  margin: 20px;
  overflow: auto;
}
.box {
  color: black;
  min-width: 27%;
  height: 20px;
  padding: 5px; /* Dentro */
  /* margin: 5px;  */
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.53);
  box-shadow: 5px 5px 4px 1px rgba(155, 155, 155, 0.322);
  overflow: hidden;
}
.boxizq {
  float: left;
  border-radius: 10px;
}
.boxder {
  float: right;
  border-radius: 3px;
}
/* Box */

.flecha{
  margin: auto;
}